
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

canvas{
    background: linear-gradient(0, #06080c,  #2c394e);
    margin: 2rem;
}


/* Small Screen */
@media screen and (max-width:500px)
{
    canvas{
        width: 100%;
        height: 500px;
        margin: 0;
    }
    
}