
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

canvas{
    background-color: #131822;
    margin: 2rem;
}


/* Small Screen */
@media screen and (max-width:500px)
{
    canvas{
        width:100%;
        margin:0;
    }
    
}