#fire{
    width: 20px;
    height: 50px;
    background-color:red;
    position: relative;
}
.animate{
       animation: jump 500ms ;
}
@keyframes jump{
    0%{top:150px;}
    30%{top:100px;}
    70%{top:100px;}
    100%{top:150px;}
}